*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
a {
  text-decoration:none;
  color: #fff;
}
ul,li {
  list-style: none;
}
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');
/*  */
p {
  font-size: 16px;
  font-weight: 400;
  line-height:1.7em;
  font-family: 'Source Sans Pro',sans-serif;
  color: #434955;
}
h3 {
  font-size: 32px;
  line-height: 42px;
  margin: 0 0 15px;
  font-weight: 500;
  color: #222;
  font-family: Poppins,sans-serif;
}

/* header */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 999;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 0 15px;
  margin: 0 46.667px;
  height: 80px;
}
.header-img-link {
  padding: 0 15px;
}
.header-menu {
  display: flex;
  align-items: center;
}
.header-menu-item:nth-child(1) {
  position: relative;
}
.header-menu-item:nth-child(1):hover .dropdown-1 {
  display: block;
} 
.dropdown-1 {
  display: none;
  position: absolute;
  color: #fff;
  border-color: rgba(0,0,0,.7);
  background: #242424;
  width: 200px;
}
.dropdown-1 li {
  font-size: 14px;
  padding: 10px;
  display:flex;
  justify-content:space-between;
  align-items: center;
  font-family: Poppins,sans-serif;
  font-weight: 600;
}
.dropdown-1 li a:hover {
  color:#3498db;
}
.header-item-link {
  padding: 0 15px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  line-height: 65px;
  font-family: Poppins,sans-serif;
  transition: 0.2s;
}
.header-icon:hover ,
.header-item-link:hover {
  color: #3498db;
}
.header-icon {
  color: #fff;
  padding:0 15px;
  cursor: pointer;
}
.header-icon-search {
  font-size: 14px;
  font-weight: 300;
}
.header-icon-shopping svg {
  position: relative;
}
.header-icon-shopping::after {
  content: '3';
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  position: relative;
  top: -10px;
  right: 8px;
  display: inline-block;
  width: 16px;
  height: 16px;
  padding-top: 1px;
  padding-left: 2px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: #3498db;
}
.header-icon-bars {
  font-size: 14px;
  padding: 10px;
  border: 1px solid #e1e1e1;
  border-color: rgba(255,255,255,.2);
  line-height: 1;
}
/* banner */
.banner {
  position: relative;
  background-image: url("http://zozothemes.com/html/epoint/demo/images/content/slider/9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 575px;
  background-position: center;
}
.banner-container {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0 auto;
  padding:0 15px;
  width: 1170px;
  color: #fff;
}
.banner-container h2 {
  font-size: 98px;
  line-height: 1;
  text-transform:uppercase;
  font-weight: 900;
  margin-top: 120px;
  margin-bottom: 15px;
  font-family: Poppins,sans-serif;
}
.banner-container p {
  font-size: 18px;
  color: #fff;
  margin: 0 0 30px;
}
.banner-btn {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height:1.3333;
  border-radius:25px;
  padding:12px 35px;
  border: 2px solid #3498db;
  background: #3498db;
  cursor: pointer;
  transition: all .3s ease 0s;
  margin-top: 7px;
  text-transform: uppercase;
  font-family: 'Source Sans Pro',sans-serif;
}
.banner-btn:hover {
  color: #fff;
  border-color: #171717;
  background: #171717;
}
.banner-dot {
  margin: 50px 10px 10px 10px;
  display: flex;
  justify-content: center;
}
.active {
  border: 2px solid #fff !important;
}
.banner-dot-item {
  border: 2px solid transparent;
  border-radius: 50%;
  margin: 4px;
  width: 24px;
  height: 24px;
}
.banner-dot-item:hover {
  border: 2px solid #fff;
  cursor: pointer;
  transition: 0.2s;
}
.banner-dot-item span {
  display: inline-block;
  background: rgba(255,255,255,.8);
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
}